@model Team

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Ad</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurName" class="control-label">Soyad</label>
                <input asp-for="SurName" class="form-control" />
                <span asp-validation-for="SurName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhotoUrl" class="control-label">Şəkil Url</label>
                <input asp-for="PhotoUrl" class="form-control" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FaceBookLink" class="control-label">FaceBook Link</label>
                <input asp-for="FaceBookLink" class="form-control" />
                <span asp-validation-for="FaceBookLink" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TwitterLink" class="control-label">Twitter Link</label>
                <input asp-for="TwitterLink" class="form-control" />
                <span asp-validation-for="TwitterLink" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LinkednLink" class="control-label">Linkedn Link</label>
                <input asp-for="LinkednLink" class="form-control" />
                <span asp-validation-for="LinkednLink" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PositionId" class="control-label">Ad</label>
                <select asp-for="PositionId" class="form-control">
                    @foreach (var item in ViewData["Position"] as IEnumerable<Position>)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="@DefaultConstanValue.ADD_MESSAGE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@DefaultConstanValue.RETURN_TO_BACK</a>
</div>