@model Activitie

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label">Yemək Adı</label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutId" class="control-label">Kateqoriya</label>
                <select asp-for="AboutId" class="form-control">
                    @foreach (var item in ViewData["AboutCategory"] as IEnumerable<About>)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="@DefaultConstanValue.ADD_MESSAGE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@DefaultConstanValue.RETURN_TO_BACK</a>
</div>